.container {
  height: 100%;
}

.active {
  background-color: #dcdcdc;
}

md-sidenav {
  border-right: 1px solid #e1e1e1;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
