<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Sign in to continue brewing</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSignIn(f)" #f="ngForm">
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input-container style="width: 100%">
              <input mdInput placeholder="E-mail" type="email" name="email" ngModel>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 100%">
              <input mdInput placeholder="Password" type="password" name="password" ngModel>
            </md-input-container>
          </td>
        </tr>
      </table>
      <button type="submit" md-raised-button color='primary'>Sign In</button>
    </form>
  </md-card-content>
</md-card>
