<md-toolbar color="primary">
  <div><h4>Piwowar</h4></div>
  <div class="home-toolbar">
    <div class="right-side"></div>
    <div class="left-side">
      <ng-template [ngIf]="!(authService.af.auth | async)">
        <button md-button [routerLink]="['/signup']">
          Register
        </button>
        <button md-button [routerLink]="['/signin']">
          Login
        </button>
      </ng-template>
      <ng-template [ngIf]="authService.af.auth | async">
        <button md-button (click)="onLogout()">
          Logout
        </button>
        <button md-button md-icon-button [routerLink]="['/piwowar/dashboard']" >
          <md-icon class="md-24" >dashboard</md-icon>
        </button>
      </ng-template>
    </div>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
